# Heart Disease Prediction
Mengyang He and Milo Yen-Goossens

In [2]:
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
data = pd.read_csv('./cardio_train.csv',sep=";")
df = pd.DataFrame(data)
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [4]:
df.drop(columns=['id'],inplace=True)
df

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
69995,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [5]:
# check if the dataset has null or missing value
df.isnull().sum()

age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

In [6]:
# add bmi feature
bmi = df['weight'].div(df['height'].multiply(df['height'])) * 100
df['bmi'] = bmi

In [7]:
# make normalized dataframe
df_normalized = df.copy()
for var in ['age', 'height', 'weight', 'ap_hi', 'ap_lo']:
  print(var + " mean, avg: " + str(df[var].mean()) + ", " + str(df[var].std()))
  df_normalized[var] = df[var] - df[var].mean()
  df_normalized[var] = df_normalized[var].div(df[var].std())

df_normalized

age mean, avg: 19468.865814285713, 2467.2516672413913
height mean, avg: 164.35922857142856, 8.210126364538139
weight mean, avg: 74.20569, 14.39575667851056
ap_hi mean, avg: 128.8172857142857, 154.01141945605565
ap_lo mean, avg: 96.63041428571428, 188.47253029643605

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,bmi
0,-0.436058,2,0.443449,-0.847867,-0.122181,-0.088238,1,1,0,0,1,0,0.219671
1,0.307684,1,-1.018161,0.749826,0.072610,-0.035180,3,1,0,0,1,1,0.349277
2,-0.247995,1,0.078046,-0.708937,0.007679,-0.141296,3,1,0,0,0,1,0.235078
3,-0.748147,2,0.565250,0.541431,0.137540,0.017878,1,1,0,0,1,1,0.287105
4,-0.808538,1,-1.018161,-1.264657,-0.187111,-0.194354,1,1,0,0,0,0,0.230112
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,-0.092761,2,0.443449,0.124642,-0.057251,-0.088238,1,1,1,0,1,0,0.269274
69996,1.269483,1,-0.774559,3.597887,0.072610,-0.035180,2,2,0,0,1,1,0.504727
69997,-0.163285,2,2.270461,2.139124,0.332331,-0.035180,3,1,0,1,0,1,0.313536
69998,1.200580,1,-0.165555,-0.153218,0.040145,-0.088238,1,2,0,0,0,1,0.270993
69999,0.434141,1,0.687051,-0.153218,-0.057251,-0.088238,2,1,0,0,1,0,0.249135

In [21]:
# logistic regression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

X_log = df_normalized.drop(columns = ["cardio"])
Y_log = df_normalized["cardio"]

X_log_train , X_log_test , Y_log_train , Y_log_test = train_test_split(X_log,Y_log,test_size=0.3,random_state=0)
acc_log = 0
# best_C = float('-inf')
# C_vals = 10**np.arange(-8.,20.)
# for C in C_vals:
logreg = LogisticRegression()
logreg.fit(X_log_train, Y_log_train)
acc_log = max(acc_log, round(logreg.score(X_log_train, Y_log_train) * 100, 5))
# best_C = max(best_C, C)
print("Accureacy of Logistic Regression training set:" ,acc_log)

acc_test_log = round(logreg.score(X_log_test, Y_log_test) * 100, 5)
print("Accureacy of Logistic Regression validation set:" ,acc_test_log)

Accureacy of Logistic Regression training set: 72.26939
Accureacy of Logistic Regression validation set: 72.10476

In [ ]:
# Correlation of Logisctic Regression
coeff_df = pd.DataFrame(X_log_train.columns.delete(0))
coeff_df.columns = ['Feature']
coeff_df["Correlation"] = pd.Series(logreg.coef_[0])
coeff_df.sort_values(by='Correlation', ascending=False)

In [20]:
# ANN
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras import optimizers

def build_ann(optimizer='adam'):
    # Initializing the ANN
    ann = Sequential()
    
    # Adding the input layer and the first hidden layer of the ANN with dropout
    ann.add(Dense(units=32, kernel_initializer='glorot_uniform', activation='relu', input_shape=(len(X_ann_train.columns),)))
    
    # Add other layers, it is not necessary to pass the shape because there is a layer before
    ann.add(Dense(units=64, kernel_initializer='glorot_uniform', activation='relu'))
    ann.add(Dropout(rate=0.5))
    ann.add(Dense(units=64, kernel_initializer='glorot_uniform', activation='relu'))
    ann.add(Dropout(rate=0.5))
    
    # Adding the output layer
    ann.add(Dense(units=1, kernel_initializer='glorot_uniform', activation='sigmoid'))
    
    # Compiling the ANN
    ann.compile(optimizer=optimizer, loss='binary_crossentropy', metrics=['accuracy'])
    
    return ann

#train, test, target, target_test = train_test_split(df_normalized, df_nomalized["cardio"], test_size=0.2, random_state=0)

X_ann = df_normalized.drop(columns = ["cardio"])
Y_ann = df_normalized["cardio"]
X_ann_train , X_ann_test , Y_ann_train , Y_ann_test = train_test_split(X_ann,Y_ann,test_size=0.3,random_state=0)

opt = optimizers.Adam(lr=0.001)
ann = build_ann(opt)
# Training the ANN
history = ann.fit(X_ann_train, Y_ann_train, batch_size=16, epochs=100, validation_data=(X_ann_test, Y_ann_test))

# Predicting the Train set results
ann_prediction = ann.predict(X_ann_train)
ann_prediction = (ann_prediction > 0.5)*1 # convert probabilities to binary output

WARNING:absl:At this time, the v2.11+ optimizer `tf.keras.optimizers.Adam` runs slowly on M1/M2 Macs, please use the legacy Keras optimizer instead, located at `tf.keras.optimizers.legacy.Adam`.
WARNING:absl:`lr` is deprecated in Keras optimizer, please use `learning_rate` or use the legacy optimizer, e.g.,tf.keras.optimizers.legacy.Adam.

Epoch 1/100
3063/3063 [==============================] - 2s 531us/step - loss: 0.6081 - accuracy: 0.6868 - val_loss: 0.5689 - val_accuracy: 0.7170
Epoch 2/100
3063/3063 [==============================] - 2s 493us/step - loss: 0.5681 - accuracy: 0.7254 - val_loss: 0.5516 - val_accuracy: 0.7300
Epoch 3/100
3063/3063 [==============================] - 1s 461us/step - loss: 0.5631 - accuracy: 0.7266 - val_loss: 0.5518 - val_accuracy: 0.7295
Epoch 4/100
3063/3063 [==============================] - 1s 461us/step - loss: 0.5595 - accuracy: 0.7269 - val_loss: 0.5456 - val_accuracy: 0.7326
Epoch 5/100
3063/3063 [==============================] - 1s 452us/step - loss: 0.5568 - accuracy: 0.7300 - val_loss: 0.5473 - val_accuracy: 0.7315
Epoch 6/100
3063/3063 [==============================] - 1s 457us/step - loss: 0.5563 - accuracy: 0.7293 - val_loss: 0.5458 - val_accuracy: 0.7335
Epoch 7/100
3063/3063 [==============================] - 1s 441us/step - loss: 0.5545 - accuracy: 0.7297 - val_loss: 0.5448 - val_accuracy: 0.7324
Epoch 8/100
3063/3063 [==============================] - 1s 447us/step - loss: 0.5529 - accuracy: 0.7313 - val_loss: 0.5435 - val_accuracy: 0.7349
Epoch 9/100
3063/3063 [==============================] - 1s 456us/step - loss: 0.5522 - accuracy: 0.7319 - val_loss: 0.5431 - val_accuracy: 0.7336
Epoch 10/100
3063/3063 [==============================] - 1s 450us/step - loss: 0.5522 - accuracy: 0.7330 - val_loss: 0.5419 - val_accuracy: 0.7356
Epoch 11/100
3063/3063 [==============================] - 1s 450us/step - loss: 0.5521 - accuracy: 0.7338 - val_loss: 0.5437 - val_accuracy: 0.7315
Epoch 12/100
3063/3063 [==============================] - 1s 452us/step - loss: 0.5504 - accuracy: 0.7331 - val_loss: 0.5420 - val_accuracy: 0.7344
Epoch 13/100
3063/3063 [==============================] - 1s 485us/step - loss: 0.5505 - accuracy: 0.7330 - val_loss: 0.5419 - val_accuracy: 0.7328
Epoch 14/100
3063/3063 [==============================] - 1s 483us/step - loss: 0.5508 - accuracy: 0.7330 - val_loss: 0.5445 - val_accuracy: 0.7340
Epoch 15/100
3063/3063 [==============================] - 1s 478us/step - loss: 0.5506 - accuracy: 0.7328 - val_loss: 0.5414 - val_accuracy: 0.7357
Epoch 16/100
3063/3063 [==============================] - 1s 482us/step - loss: 0.5507 - accuracy: 0.7327 - val_loss: 0.5432 - val_accuracy: 0.7309
Epoch 17/100
3063/3063 [==============================] - 1s 483us/step - loss: 0.5503 - accuracy: 0.7329 - val_loss: 0.5463 - val_accuracy: 0.7350
Epoch 18/100
3063/3063 [==============================] - 1s 445us/step - loss: 0.5499 - accuracy: 0.7329 - val_loss: 0.5453 - val_accuracy: 0.7306
Epoch 19/100
3063/3063 [==============================] - 1s 449us/step - loss: 0.5482 - accuracy: 0.7326 - val_loss: 0.5431 - val_accuracy: 0.7320
Epoch 20/100
3063/3063 [==============================] - 1s 452us/step - loss: 0.5498 - accuracy: 0.7322 - val_loss: 0.5416 - val_accuracy: 0.7337
Epoch 21/100
3063/3063 [==============================] - 1s 452us/step - loss: 0.5512 - accuracy: 0.7326 - val_loss: 0.5426 - val_accuracy: 0.7335
Epoch 22/100
3063/3063 [==============================] - 1s 445us/step - loss: 0.5496 - accuracy: 0.7343 - val_loss: 0.5456 - val_accuracy: 0.7317
Epoch 23/100
3063/3063 [==============================] - 1s 453us/step - loss: 0.5489 - accuracy: 0.7334 - val_loss: 0.5416 - val_accuracy: 0.7347
Epoch 24/100
3063/3063 [==============================] - 1s 450us/step - loss: 0.5486 - accuracy: 0.7343 - val_loss: 0.5428 - val_accuracy: 0.7341
Epoch 25/100
3063/3063 [==============================] - 1s 454us/step - loss: 0.5483 - accuracy: 0.7346 - val_loss: 0.5433 - val_accuracy: 0.7335
Epoch 26/100
3063/3063 [==============================] - 1s 449us/step - loss: 0.5477 - accuracy: 0.7329 - val_loss: 0.5427 - val_accuracy: 0.7344
Epoch 27/100
3063/3063 [==============================] - 1s 452us/step - loss: 0.5485 - accuracy: 0.7333 - val_loss: 0.5413 - val_accuracy: 0.7368
Epoch 28/100
3063/3063 [==============================] - 1s 485us/step - loss: 0.5490 - accuracy: 0.7350 - val_loss: 0.5431 - val_accuracy: 0.7347
Epoch 29/100
3063/3063 [==============================] - 1s 480us/step - loss: 0.5492 - accuracy: 0.7325 - val_loss: 0.5421 - val_accuracy: 0.7328
Epoch 30/100
3063/3063 [==============================] - 1s 460us/step - loss: 0.5484 - accuracy: 0.7348 - val_loss: 0.5440 - val_accuracy: 0.7323
Epoch 31/100
3063/3063 [==============================] - 1s 452us/step - loss: 0.5489 - accuracy: 0.7352 - val_loss: 0.5446 - val_accuracy: 0.7330
Epoch 32/100
3063/3063 [==============================] - 1s 461us/step - loss: 0.5477 - accuracy: 0.7355 - val_loss: 0.5448 - val_accuracy: 0.7331
Epoch 33/100
3063/3063 [==============================] - 1s 452us/step - loss: 0.5471 - accuracy: 0.7355 - val_loss: 0.5431 - val_accuracy: 0.7338
Epoch 34/100
3063/3063 [==============================] - 1s 452us/step - loss: 0.5472 - accuracy: 0.7340 - val_loss: 0.5433 - val_accuracy: 0.7328
Epoch 35/100
3063/3063 [==============================] - 1s 454us/step - loss: 0.5473 - accuracy: 0.7347 - val_loss: 0.5442 - val_accuracy: 0.7332
Epoch 36/100
3063/3063 [==============================] - 1s 455us/step - loss: 0.5477 - accuracy: 0.7343 - val_loss: 0.5426 - val_accuracy: 0.7341
Epoch 37/100
3063/3063 [==============================] - 1s 457us/step - loss: 0.5480 - accuracy: 0.7346 - val_loss: 0.5428 - val_accuracy: 0.7349
Epoch 38/100
3063/3063 [==============================] - 1s 456us/step - loss: 0.5479 - accuracy: 0.7359 - val_loss: 0.5445 - val_accuracy: 0.7352
Epoch 39/100
3063/3063 [==============================] - 1s 455us/step - loss: 0.5465 - accuracy: 0.7349 - val_loss: 0.5413 - val_accuracy: 0.7355
Epoch 40/100
3063/3063 [==============================] - 1s 456us/step - loss: 0.5471 - accuracy: 0.7370 - val_loss: 0.5428 - val_accuracy: 0.7349
Epoch 41/100
3063/3063 [==============================] - 1s 456us/step - loss: 0.5480 - accuracy: 0.7351 - val_loss: 0.5453 - val_accuracy: 0.7337
Epoch 42/100
3063/3063 [==============================] - 1s 452us/step - loss: 0.5471 - accuracy: 0.7359 - val_loss: 0.5440 - val_accuracy: 0.7323
Epoch 43/100
3063/3063 [==============================] - 1s 455us/step - loss: 0.5464 - accuracy: 0.7350 - val_loss: 0.5441 - val_accuracy: 0.7345
Epoch 44/100
3063/3063 [==============================] - 1s 454us/step - loss: 0.5475 - accuracy: 0.7353 - val_loss: 0.5458 - val_accuracy: 0.7356
Epoch 45/100
3063/3063 [==============================] - 1s 454us/step - loss: 0.5471 - accuracy: 0.7358 - val_loss: 0.5457 - val_accuracy: 0.7334
Epoch 46/100
3063/3063 [==============================] - 1s 454us/step - loss: 0.5453 - accuracy: 0.7363 - val_loss: 0.5438 - val_accuracy: 0.7326
Epoch 47/100
3063/3063 [==============================] - 1s 454us/step - loss: 0.5477 - accuracy: 0.7350 - val_loss: 0.5424 - val_accuracy: 0.7355
Epoch 48/100
3063/3063 [==============================] - 1s 451us/step - loss: 0.5470 - accuracy: 0.7365 - val_loss: 0.5435 - val_accuracy: 0.7345
Epoch 49/100
3063/3063 [==============================] - 1s 450us/step - loss: 0.5463 - accuracy: 0.7344 - val_loss: 0.5479 - val_accuracy: 0.7330
Epoch 50/100
3063/3063 [==============================] - 1s 460us/step - loss: 0.5461 - accuracy: 0.7373 - val_loss: 0.5445 - val_accuracy: 0.7331
Epoch 51/100
3063/3063 [==============================] - 1s 458us/step - loss: 0.5472 - accuracy: 0.7346 - val_loss: 0.5436 - val_accuracy: 0.7322
Epoch 52/100
3063/3063 [==============================] - 1s 455us/step - loss: 0.5466 - accuracy: 0.7356 - val_loss: 0.5442 - val_accuracy: 0.7327
Epoch 53/100
3063/3063 [==============================] - 1s 453us/step - loss: 0.5452 - accuracy: 0.7367 - val_loss: 0.5427 - val_accuracy: 0.7350
Epoch 54/100
3063/3063 [==============================] - 1s 454us/step - loss: 0.5465 - accuracy: 0.7365 - val_loss: 0.5428 - val_accuracy: 0.7335
Epoch 55/100
3063/3063 [==============================] - 1s 452us/step - loss: 0.5458 - accuracy: 0.7348 - val_loss: 0.5456 - val_accuracy: 0.7298
Epoch 56/100
3063/3063 [==============================] - 1s 445us/step - loss: 0.5474 - accuracy: 0.7351 - val_loss: 0.5444 - val_accuracy: 0.7311
Epoch 57/100
3063/3063 [==============================] - 1s 444us/step - loss: 0.5474 - accuracy: 0.7347 - val_loss: 0.5437 - val_accuracy: 0.7340
Epoch 58/100
3063/3063 [==============================] - 1s 444us/step - loss: 0.5460 - accuracy: 0.7372 - val_loss: 0.5439 - val_accuracy: 0.7320
Epoch 59/100
3063/3063 [==============================] - 1s 445us/step - loss: 0.5460 - accuracy: 0.7346 - val_loss: 0.5440 - val_accuracy: 0.7313
Epoch 60/100
3063/3063 [==============================] - 1s 443us/step - loss: 0.5465 - accuracy: 0.7380 - val_loss: 0.5463 - val_accuracy: 0.7327
Epoch 61/100
3063/3063 [==============================] - 1s 442us/step - loss: 0.5456 - accuracy: 0.7371 - val_loss: 0.5459 - val_accuracy: 0.7336
Epoch 62/100
3063/3063 [==============================] - 1s 443us/step - loss: 0.5457 - accuracy: 0.7356 - val_loss: 0.5454 - val_accuracy: 0.7312
Epoch 63/100
3063/3063 [==============================] - 1s 443us/step - loss: 0.5463 - accuracy: 0.7356 - val_loss: 0.5445 - val_accuracy: 0.7341
Epoch 64/100
3063/3063 [==============================] - 1s 444us/step - loss: 0.5466 - accuracy: 0.7359 - val_loss: 0.5439 - val_accuracy: 0.7340
Epoch 65/100
3063/3063 [==============================] - 1s 443us/step - loss: 0.5449 - accuracy: 0.7349 - val_loss: 0.5492 - val_accuracy: 0.7290
Epoch 66/100
3063/3063 [==============================] - 1s 443us/step - loss: 0.5453 - accuracy: 0.7363 - val_loss: 0.5449 - val_accuracy: 0.7350
Epoch 67/100
3063/3063 [==============================] - 1s 443us/step - loss: 0.5468 - accuracy: 0.7353 - val_loss: 0.5452 - val_accuracy: 0.7324
Epoch 68/100
3063/3063 [==============================] - 1s 444us/step - loss: 0.5458 - accuracy: 0.7356 - val_loss: 0.5454 - val_accuracy: 0.7345
Epoch 69/100
3063/3063 [==============================] - 1s 442us/step - loss: 0.5452 - accuracy: 0.7365 - val_loss: 0.5454 - val_accuracy: 0.7318
Epoch 70/100
3063/3063 [==============================] - 1s 443us/step - loss: 0.5461 - accuracy: 0.7340 - val_loss: 0.5468 - val_accuracy: 0.7334
Epoch 71/100
3063/3063 [==============================] - 1s 444us/step - loss: 0.5452 - accuracy: 0.7356 - val_loss: 0.5451 - val_accuracy: 0.7335
Epoch 72/100
3063/3063 [==============================] - 1s 444us/step - loss: 0.5443 - accuracy: 0.7384 - val_loss: 0.5455 - val_accuracy: 0.7304
Epoch 73/100
3063/3063 [==============================] - 1s 441us/step - loss: 0.5455 - accuracy: 0.7366 - val_loss: 0.5455 - val_accuracy: 0.7329
Epoch 74/100
3063/3063 [==============================] - 1s 444us/step - loss: 0.5457 - accuracy: 0.7356 - val_loss: 0.5445 - val_accuracy: 0.7329
Epoch 75/100
3063/3063 [==============================] - 1s 444us/step - loss: 0.5446 - accuracy: 0.7379 - val_loss: 0.5440 - val_accuracy: 0.7322
Epoch 76/100
3063/3063 [==============================] - 1s 444us/step - loss: 0.5465 - accuracy: 0.7361 - val_loss: 0.5442 - val_accuracy: 0.7331
Epoch 77/100
3063/3063 [==============================] - 1s 443us/step - loss: 0.5448 - accuracy: 0.7361 - val_loss: 0.5450 - val_accuracy: 0.7327
Epoch 78/100
3063/3063 [==============================] - 1s 442us/step - loss: 0.5444 - accuracy: 0.7377 - val_loss: 0.5473 - val_accuracy: 0.7335
Epoch 79/100
3063/3063 [==============================] - 1s 445us/step - loss: 0.5455 - accuracy: 0.7374 - val_loss: 0.5445 - val_accuracy: 0.7340
Epoch 80/100
3063/3063 [==============================] - 1s 443us/step - loss: 0.5437 - accuracy: 0.7382 - val_loss: 0.5445 - val_accuracy: 0.7335
Epoch 81/100
3063/3063 [==============================] - 1s 444us/step - loss: 0.5465 - accuracy: 0.7362 - val_loss: 0.5447 - val_accuracy: 0.7349
Epoch 82/100
3063/3063 [==============================] - 1s 446us/step - loss: 0.5451 - accuracy: 0.7363 - val_loss: 0.5466 - val_accuracy: 0.7336
Epoch 83/100
3063/3063 [==============================] - 1s 444us/step - loss: 0.5455 - accuracy: 0.7370 - val_loss: 0.5463 - val_accuracy: 0.7345
Epoch 84/100
3063/3063 [==============================] - 1s 445us/step - loss: 0.5460 - accuracy: 0.7346 - val_loss: 0.5454 - val_accuracy: 0.7328
Epoch 85/100
3063/3063 [==============================] - 1s 444us/step - loss: 0.5455 - accuracy: 0.7363 - val_loss: 0.5440 - val_accuracy: 0.7314
Epoch 86/100
3063/3063 [==============================] - 1s 443us/step - loss: 0.5457 - accuracy: 0.7371 - val_loss: 0.5457 - val_accuracy: 0.7328
Epoch 87/100
3063/3063 [==============================] - 1s 444us/step - loss: 0.5452 - accuracy: 0.7370 - val_loss: 0.5460 - val_accuracy: 0.7338
Epoch 88/100
3063/3063 [==============================] - 1s 445us/step - loss: 0.5453 - accuracy: 0.7366 - val_loss: 0.5445 - val_accuracy: 0.7341
Epoch 89/100
3063/3063 [==============================] - 1s 443us/step - loss: 0.5449 - accuracy: 0.7363 - val_loss: 0.5454 - val_accuracy: 0.7326
Epoch 90/100
3063/3063 [==============================] - 1s 444us/step - loss: 0.5446 - accuracy: 0.7359 - val_loss: 0.5440 - val_accuracy: 0.7339
Epoch 91/100
3063/3063 [==============================] - 1s 447us/step - loss: 0.5453 - accuracy: 0.7351 - val_loss: 0.5465 - val_accuracy: 0.7332
Epoch 92/100
3063/3063 [==============================] - 1s 445us/step - loss: 0.5451 - accuracy: 0.7371 - val_loss: 0.5462 - val_accuracy: 0.7346
Epoch 93/100
3063/3063 [==============================] - 1s 445us/step - loss: 0.5450 - accuracy: 0.7362 - val_loss: 0.5465 - val_accuracy: 0.7349
Epoch 94/100
3063/3063 [==============================] - 1s 448us/step - loss: 0.5438 - accuracy: 0.7382 - val_loss: 0.5466 - val_accuracy: 0.7314
Epoch 95/100
3063/3063 [==============================] - 1s 444us/step - loss: 0.5453 - accuracy: 0.7374 - val_loss: 0.5457 - val_accuracy: 0.7330
Epoch 96/100
3063/3063 [==============================] - 1s 445us/step - loss: 0.5452 - accuracy: 0.7371 - val_loss: 0.5486 - val_accuracy: 0.7330
Epoch 97/100
3063/3063 [==============================] - 1s 448us/step - loss: 0.5452 - accuracy: 0.7376 - val_loss: 0.5450 - val_accuracy: 0.7327
Epoch 98/100
3063/3063 [==============================] - 1s 447us/step - loss: 0.5455 - accuracy: 0.7364 - val_loss: 0.5469 - val_accuracy: 0.7335
Epoch 99/100
3063/3063 [==============================] - 1s 446us/step - loss: 0.5445 - accuracy: 0.7362 - val_loss: 0.5460 - val_accuracy: 0.7320
Epoch 100/100
3063/3063 [==============================] - 1s 443us/step - loss: 0.5451 - accuracy: 0.7362 - val_loss: 0.5450 - val_accuracy: 0.7348
1532/1532 [==============================] - 0s 240us/step

In [22]:
# Training set results
ann_prediction = ann.predict(X_ann_train)
ann_prediction = (ann_prediction > 0.5)*1 # convert probabilities to binary output

# Compute error between predicted data and true response and display it in confusion matrix
acc_ann = round(metrics.accuracy_score(Y_ann_train, ann_prediction) * 100, 2)
print("Accureacy of ANN training set:", acc_ann)

1532/1532 [==============================] - 0s 248us/step
Accureacy of ANN training set: 74.1

In [23]:
# Predicting the Test set results
ann_prediction_test = ann.predict(X_ann_test)
ann_prediction_test = (ann_prediction_test > 0.5)*1 # convert probabilities to binary output

# Compute error between predicted data and true response and display it in confusion matrix
acc_test_ann = round(metrics.accuracy_score(Y_ann_test, ann_prediction_test) * 100, 2)
print("Accureacy of ANN validation set:",acc_test_ann)

657/657 [==============================] - 0s 267us/step
Accureacy of ANN validation set: 73.48

In [111]:
from keras.utils import plot_model
from tensorflow.keras.utils import plot_model

keras.utils.plot_model(
    ann,
    to_file="model.png",
    show_shapes=True,
    show_dtype=False,
    show_layer_names=True,
    rankdir="TB",
    expand_nested=False,
    dpi=200,
    show_layer_activations=True,
    show_trainable=True,
)
#plot_model(ann, to_file='model_plot.png', show_shapes=True, show_layer_names=True)

You must install pydot (`pip install pydot`) and install graphviz (see instructions at https://graphviz.gitlab.io/download/) for plot_model to work.

In [24]:
print(ann.summary())

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 32)                416

 dense_1 (Dense)             (None, 64)                2112

 dropout (Dropout)           (None, 64)                0

 dense_2 (Dense)             (None, 64)                4160

 dropout_1 (Dropout)         (None, 64)                0

 dense_3 (Dense)             (None, 1)                 65

=================================================================
Total params: 6753 (26.38 KB)
Trainable params: 6753 (26.38 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________
None

In [25]:
# SVM
from sklearn.svm import SVC, LinearSVC
#train, test, target, target_test = train_test_split(df_normalized, df_nomalized["cardio"], test_size=0.2, random_state=0)

X_svm = df_normalized.drop(columns = ["cardio"])
Y_svm = df_normalized["cardio"]
X_svm_train , X_svm_test , Y_svm_train , Y_svm_test = train_test_split(X_svm,Y_svm,test_size=0.3,random_state=0)

svc = SVC(kernel = 'rbf')
svc.fit(X_svm_train, Y_svm_train)
acc_svc = round(svc.score(X_svm_train, Y_svm_train) * 100, 5)
print("Accureacy of SVM training set:" ,acc_svc)

acc_test_svc = round(svc.score(X_svm_test, Y_svm_test) * 100, 5)
print("Accureacy of SVM validation set:" ,acc_test_svc)

Accureacy of SVM training set: 73.5102
Accureacy of SVM validation set: 73.11905