# Heart Disease Prediction
Mengyang He and Milo Yen-Goossens

In [45]:
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [46]:
data = pd.read_csv('./cardio_train.csv',sep=";")
df = pd.DataFrame(data)
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   height       70000 non-null  int64
 4   weight       70000 non-null  float64
 5   ap_hi        70000 non-null  int64
 6   ap_lo        70000 non-null  int64
 7   cholesterol  70000 non-null  int64
 8   gluc         70000 non-null  int64
 9   smoke        70000 non-null  int64
 10  alco         70000 non-null  int64
 11  active       70000 non-null  int64
 12  cardio       70000 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [47]:
df.drop(columns=['id'],inplace=True)
df

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
69995,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [48]:
# check if the dataset has null or missing value
df.isnull().sum()

age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

In [49]:
# remove egregious (i.e. impossible) systolic and diastolic blood pressure values

from scipy import stats

threshold = 3

ap_hi_outliers = df[df['ap_hi'] > 250]
df = df.drop(ap_hi_outliers.index)

ap_lo_outliers = df[df['ap_lo'] > 150]
df = df.drop(ap_lo_outliers.index)

In [50]:
# add bmi feature
bmi = df['weight'].div(df['height'].multiply(df['height'])) * 100
df['bmi'] = bmi

In [51]:
# make normalized dataframe
df_normalized = df.copy()
for var in ['age', 'height', 'weight', 'ap_hi', 'ap_lo']:
  print(var + " mean, avg: " + str(df[var].mean()) + ", " + str(df[var].std()))
  df_normalized[var] = df[var] - df[var].mean()
  df_normalized[var] = df_normalized[var].div(df[var].std())

df_normalized

age mean, avg: 19463.59660795825, 2468.38480682597
height mean, avg: 164.3598898311227, 8.204045411568867
weight mean, avg: 74.11611944625642, 14.328253541828976
ap_hi mean, avg: 126.29723853011524, 17.861674927889364
ap_lo mean, avg: 81.30319634703196, 9.761402032165053

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,bmi
0,-0.433724,2,0.443697,-0.845610,-0.912414,-0.133505,1,1,0,0,1,0,0.219671
1,0.309678,1,-1.018996,0.759610,0.767160,0.890938,3,1,0,0,1,1,0.349277
2,-0.245746,1,0.078024,-0.706026,0.207302,-1.157948,3,1,0,0,0,1,0.235078
3,-0.745668,2,0.565588,0.550233,1.327018,1.915381,1,1,0,0,1,1,0.287105
4,-0.806032,1,-1.018996,-1.264363,-1.472272,-2.182391,1,1,0,0,0,0,0.230112
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,-0.090584,2,0.443697,0.131480,-0.352556,-0.133505,1,1,1,0,1,0,0.269274
69996,1.271035,1,-0.775214,3.621089,0.767160,0.890938,2,2,0,0,1,1,0.504727
69997,-0.161076,2,2.272063,2.155453,3.006592,0.890938,3,1,0,1,0,1,0.313536
69998,1.202164,1,-0.165758,-0.147689,0.487231,-0.133505,1,2,0,0,0,1,0.270993
69999,0.436076,1,0.687479,-0.147689,-0.352556,-0.133505,2,1,0,0,1,0,0.249135

In [53]:
# logistic regression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

X_log = df_normalized.drop(columns = ["cardio"])
Y_log = df_normalized["cardio"]

X_log_train , X_log_test , Y_log_train , Y_log_test = train_test_split(X_log,Y_log,test_size=0.3,random_state=0)
acc_log = 0
# best_C = float('-inf')
# C_vals = 10**np.arange(-8.,20.)
# for C in C_vals:
logreg = LogisticRegression()
logreg.fit(X_log_train, Y_log_train)
acc_log = max(acc_log, round(logreg.score(X_log_train, Y_log_train) * 100, 5))
# best_C = max(best_C, C)
print("Accureacy of Logistic Regression training set:" ,acc_log)

acc_test_log = round(logreg.score(X_log_test, Y_log_test) * 100, 5)
print("Accureacy of Logistic Regression validation set:" ,acc_test_log)

Accureacy of Logistic Regression training set: 72.65216
Accureacy of Logistic Regression validation set: 72.47294

In [54]:
# Correlation of Logisctic Regression
coeff_df = pd.DataFrame(X_log_train.columns.delete(0))
coeff_df.columns = ['Feature']
coeff_df["Correlation"] = pd.Series(logreg.coef_[0])
coeff_df.sort_values(by='Correlation', ascending=False)

        Feature  Correlation
4         ap_lo     0.830074
6          gluc     0.510609
0        gender     0.357705
5   cholesterol     0.194872
3         ap_hi     0.171589
2        weight    -0.033474
1        height    -0.034375
8          alco    -0.094873
7         smoke    -0.123713
10          bmi    -0.211337
9        active    -0.222327

In [84]:
def accuracy_metrics(y, predictions):
  pos = 0
  neg = 0
  truePos = 0
  trueNeg = 0
  falsePos = 0
  falseNeg = 0

  for i in range(len(y)):
    if predictions[i] == 1:
      if y[i] == 1:
        pos += 1
        truePos += 1
      else:
        neg += 1
        falsePos += 1
    else:
      if y[i] == 1:
        pos += 1
        falseNeg += 1
      else:
        neg += 1
        trueNeg += 1

  return (truePos / pos, trueNeg / neg, falsePos / neg, falseNeg / pos)



print(accuracy_metrics(log_pre, log_true_y))
print(accuracy_metrics(log_true_y, log_pre))

(0.7539883375508857, 0.7018178685276126, 0.29818213147238737, 0.24601166244911432)
(0.6644366879968974, 0.7846272394528992, 0.21537276054710075, 0.3355633120031026)

In [55]:
# ANN
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras import optimizers

def build_ann(optimizer='adam'):
    # Initializing the ANN
    ann = Sequential()
    
    # Adding the input layer and the first hidden layer of the ANN with dropout
    ann.add(Dense(units=32, kernel_initializer='glorot_uniform', activation='relu', input_shape=(len(X_ann_train.columns),)))
    
    # Add other layers, it is not necessary to pass the shape because there is a layer before
    ann.add(Dense(units=64, kernel_initializer='glorot_uniform', activation='relu'))
    ann.add(Dropout(rate=0.5))
    ann.add(Dense(units=64, kernel_initializer='glorot_uniform', activation='relu'))
    ann.add(Dropout(rate=0.5))
    
    # Adding the output layer
    ann.add(Dense(units=1, kernel_initializer='glorot_uniform', activation='sigmoid'))
    
    # Compiling the ANN
    ann.compile(optimizer=optimizer, loss='binary_crossentropy', metrics=['accuracy'])
    
    return ann

#train, test, target, target_test = train_test_split(df_normalized, df_nomalized["cardio"], test_size=0.2, random_state=0)

X_ann = df_normalized.drop(columns = ["cardio"])
Y_ann = df_normalized["cardio"]
X_ann_train , X_ann_test , Y_ann_train , Y_ann_test = train_test_split(X_ann,Y_ann,test_size=0.3,random_state=0)

opt = optimizers.Adam(lr=0.001)
ann = build_ann(opt)
# Training the ANN
history = ann.fit(X_ann_train, Y_ann_train, batch_size=16, epochs=100, validation_data=(X_ann_test, Y_ann_test))

# Predicting the Train set results
ann_prediction = ann.predict(X_ann_train)
ann_prediction = (ann_prediction > 0.5)*1 # convert probabilities to binary output

WARNING:absl:At this time, the v2.11+ optimizer `tf.keras.optimizers.Adam` runs slowly on M1/M2 Macs, please use the legacy Keras optimizer instead, located at `tf.keras.optimizers.legacy.Adam`.
WARNING:absl:`lr` is deprecated in Keras optimizer, please use `learning_rate` or use the legacy optimizer, e.g.,tf.keras.optimizers.legacy.Adam.

Epoch 1/100
3019/3019 [==============================] - 2s 482us/step - loss: 0.5785 - accuracy: 0.7146 - val_loss: 0.5490 - val_accuracy: 0.7296
Epoch 2/100
3019/3019 [==============================] - 1s 444us/step - loss: 0.5634 - accuracy: 0.7270 - val_loss: 0.5457 - val_accuracy: 0.7320
Epoch 3/100
3019/3019 [==============================] - 1s 440us/step - loss: 0.5591 - accuracy: 0.7272 - val_loss: 0.5477 - val_accuracy: 0.7308
Epoch 4/100
3019/3019 [==============================] - 1s 446us/step - loss: 0.5576 - accuracy: 0.7284 - val_loss: 0.5474 - val_accuracy: 0.7311
Epoch 5/100
3019/3019 [==============================] - 1s 443us/step - loss: 0.5566 - accuracy: 0.7299 - val_loss: 0.5432 - val_accuracy: 0.7320
Epoch 6/100
3019/3019 [==============================] - 1s 450us/step - loss: 0.5559 - accuracy: 0.7289 - val_loss: 0.5408 - val_accuracy: 0.7353
Epoch 7/100
3019/3019 [==============================] - 1s 479us/step - loss: 0.5556 - accuracy: 0.7309 - val_loss: 0.5450 - val_accuracy: 0.7354
Epoch 8/100
3019/3019 [==============================] - 1s 464us/step - loss: 0.5542 - accuracy: 0.7297 - val_loss: 0.5438 - val_accuracy: 0.7311
Epoch 9/100
3019/3019 [==============================] - 1s 470us/step - loss: 0.5534 - accuracy: 0.7312 - val_loss: 0.5496 - val_accuracy: 0.7286
Epoch 10/100
3019/3019 [==============================] - 1s 468us/step - loss: 0.5538 - accuracy: 0.7299 - val_loss: 0.5431 - val_accuracy: 0.7350
Epoch 11/100
3019/3019 [==============================] - 1s 459us/step - loss: 0.5545 - accuracy: 0.7309 - val_loss: 0.5409 - val_accuracy: 0.7348
Epoch 12/100
3019/3019 [==============================] - 1s 470us/step - loss: 0.5537 - accuracy: 0.7290 - val_loss: 0.5416 - val_accuracy: 0.7324
Epoch 13/100
3019/3019 [==============================] - 1s 462us/step - loss: 0.5527 - accuracy: 0.7311 - val_loss: 0.5468 - val_accuracy: 0.7349
Epoch 14/100
3019/3019 [==============================] - 1s 464us/step - loss: 0.5526 - accuracy: 0.7314 - val_loss: 0.5420 - val_accuracy: 0.7361
Epoch 15/100
3019/3019 [==============================] - 1s 450us/step - loss: 0.5522 - accuracy: 0.7299 - val_loss: 0.5430 - val_accuracy: 0.7353
Epoch 16/100
3019/3019 [==============================] - 1s 476us/step - loss: 0.5512 - accuracy: 0.7319 - val_loss: 0.5429 - val_accuracy: 0.7352
Epoch 17/100
3019/3019 [==============================] - 1s 458us/step - loss: 0.5524 - accuracy: 0.7316 - val_loss: 0.5402 - val_accuracy: 0.7336
Epoch 18/100
3019/3019 [==============================] - 1s 467us/step - loss: 0.5518 - accuracy: 0.7310 - val_loss: 0.5405 - val_accuracy: 0.7363
Epoch 19/100
3019/3019 [==============================] - 1s 444us/step - loss: 0.5505 - accuracy: 0.7325 - val_loss: 0.5415 - val_accuracy: 0.7378
Epoch 20/100
3019/3019 [==============================] - 2s 536us/step - loss: 0.5507 - accuracy: 0.7320 - val_loss: 0.5443 - val_accuracy: 0.7371
Epoch 21/100
3019/3019 [==============================] - 1s 460us/step - loss: 0.5516 - accuracy: 0.7314 - val_loss: 0.5425 - val_accuracy: 0.7325
Epoch 22/100
3019/3019 [==============================] - 1s 457us/step - loss: 0.5511 - accuracy: 0.7316 - val_loss: 0.5472 - val_accuracy: 0.7337
Epoch 23/100
3019/3019 [==============================] - 1s 454us/step - loss: 0.5507 - accuracy: 0.7327 - val_loss: 0.5421 - val_accuracy: 0.7335
Epoch 24/100
3019/3019 [==============================] - 1s 454us/step - loss: 0.5518 - accuracy: 0.7317 - val_loss: 0.5401 - val_accuracy: 0.7363
Epoch 25/100
3019/3019 [==============================] - 1s 455us/step - loss: 0.5504 - accuracy: 0.7327 - val_loss: 0.5412 - val_accuracy: 0.7349
Epoch 26/100
3019/3019 [==============================] - 1s 452us/step - loss: 0.5493 - accuracy: 0.7336 - val_loss: 0.5415 - val_accuracy: 0.7359
Epoch 27/100
3019/3019 [==============================] - 1s 454us/step - loss: 0.5496 - accuracy: 0.7315 - val_loss: 0.5413 - val_accuracy: 0.7316
Epoch 28/100
3019/3019 [==============================] - 1s 458us/step - loss: 0.5496 - accuracy: 0.7333 - val_loss: 0.5421 - val_accuracy: 0.7349
Epoch 29/100
3019/3019 [==============================] - 1s 459us/step - loss: 0.5497 - accuracy: 0.7337 - val_loss: 0.5392 - val_accuracy: 0.7364
Epoch 30/100
3019/3019 [==============================] - 1s 472us/step - loss: 0.5498 - accuracy: 0.7321 - val_loss: 0.5401 - val_accuracy: 0.7371
Epoch 31/100
3019/3019 [==============================] - 1s 462us/step - loss: 0.5496 - accuracy: 0.7324 - val_loss: 0.5409 - val_accuracy: 0.7352
Epoch 32/100
3019/3019 [==============================] - 1s 476us/step - loss: 0.5497 - accuracy: 0.7332 - val_loss: 0.5453 - val_accuracy: 0.7329
Epoch 33/100
3019/3019 [==============================] - 1s 480us/step - loss: 0.5507 - accuracy: 0.7326 - val_loss: 0.5410 - val_accuracy: 0.7352
Epoch 34/100
3019/3019 [==============================] - 1s 484us/step - loss: 0.5497 - accuracy: 0.7325 - val_loss: 0.5402 - val_accuracy: 0.7357
Epoch 35/100
3019/3019 [==============================] - 1s 472us/step - loss: 0.5496 - accuracy: 0.7332 - val_loss: 0.5405 - val_accuracy: 0.7355
Epoch 36/100
3019/3019 [==============================] - 1s 469us/step - loss: 0.5503 - accuracy: 0.7327 - val_loss: 0.5425 - val_accuracy: 0.7326
Epoch 37/100
3019/3019 [==============================] - 1s 481us/step - loss: 0.5495 - accuracy: 0.7332 - val_loss: 0.5404 - val_accuracy: 0.7368
Epoch 38/100
3019/3019 [==============================] - 1s 467us/step - loss: 0.5501 - accuracy: 0.7319 - val_loss: 0.5426 - val_accuracy: 0.7330
Epoch 39/100
3019/3019 [==============================] - 2s 544us/step - loss: 0.5509 - accuracy: 0.7315 - val_loss: 0.5436 - val_accuracy: 0.7359
Epoch 40/100
3019/3019 [==============================] - 1s 453us/step - loss: 0.5486 - accuracy: 0.7325 - val_loss: 0.5406 - val_accuracy: 0.7337
Epoch 41/100
3019/3019 [==============================] - 1s 462us/step - loss: 0.5497 - accuracy: 0.7341 - val_loss: 0.5408 - val_accuracy: 0.7348
Epoch 42/100
3019/3019 [==============================] - 1s 458us/step - loss: 0.5493 - accuracy: 0.7328 - val_loss: 0.5400 - val_accuracy: 0.7360
Epoch 43/100
3019/3019 [==============================] - 1s 430us/step - loss: 0.5488 - accuracy: 0.7328 - val_loss: 0.5440 - val_accuracy: 0.7349
Epoch 44/100
3019/3019 [==============================] - 1s 428us/step - loss: 0.5489 - accuracy: 0.7318 - val_loss: 0.5402 - val_accuracy: 0.7343
Epoch 45/100
3019/3019 [==============================] - 1s 428us/step - loss: 0.5484 - accuracy: 0.7357 - val_loss: 0.5406 - val_accuracy: 0.7348
Epoch 46/100
3019/3019 [==============================] - 1s 427us/step - loss: 0.5491 - accuracy: 0.7335 - val_loss: 0.5417 - val_accuracy: 0.7362
Epoch 47/100
3019/3019 [==============================] - 1s 439us/step - loss: 0.5487 - accuracy: 0.7335 - val_loss: 0.5425 - val_accuracy: 0.7366
Epoch 48/100
3019/3019 [==============================] - 1s 443us/step - loss: 0.5503 - accuracy: 0.7328 - val_loss: 0.5413 - val_accuracy: 0.7354
Epoch 49/100
3019/3019 [==============================] - 1s 435us/step - loss: 0.5486 - accuracy: 0.7335 - val_loss: 0.5415 - val_accuracy: 0.7352
Epoch 50/100
3019/3019 [==============================] - 1s 425us/step - loss: 0.5487 - accuracy: 0.7330 - val_loss: 0.5413 - val_accuracy: 0.7356
Epoch 51/100
3019/3019 [==============================] - 1s 424us/step - loss: 0.5474 - accuracy: 0.7325 - val_loss: 0.5411 - val_accuracy: 0.7352
Epoch 52/100
3019/3019 [==============================] - 1s 438us/step - loss: 0.5486 - accuracy: 0.7331 - val_loss: 0.5409 - val_accuracy: 0.7342
Epoch 53/100
3019/3019 [==============================] - 1s 438us/step - loss: 0.5489 - accuracy: 0.7330 - val_loss: 0.5414 - val_accuracy: 0.7355
Epoch 54/100
3019/3019 [==============================] - 1s 431us/step - loss: 0.5484 - accuracy: 0.7332 - val_loss: 0.5453 - val_accuracy: 0.7359
Epoch 55/100
3019/3019 [==============================] - 1s 429us/step - loss: 0.5487 - accuracy: 0.7342 - val_loss: 0.5409 - val_accuracy: 0.7351
Epoch 56/100
3019/3019 [==============================] - 1s 438us/step - loss: 0.5473 - accuracy: 0.7341 - val_loss: 0.5427 - val_accuracy: 0.7342
Epoch 57/100
3019/3019 [==============================] - 1s 442us/step - loss: 0.5487 - accuracy: 0.7322 - val_loss: 0.5434 - val_accuracy: 0.7355
Epoch 58/100
3019/3019 [==============================] - 1s 468us/step - loss: 0.5483 - accuracy: 0.7331 - val_loss: 0.5458 - val_accuracy: 0.7326
Epoch 59/100
3019/3019 [==============================] - 1s 452us/step - loss: 0.5482 - accuracy: 0.7339 - val_loss: 0.5419 - val_accuracy: 0.7350
Epoch 60/100
3019/3019 [==============================] - 1s 473us/step - loss: 0.5466 - accuracy: 0.7339 - val_loss: 0.5404 - val_accuracy: 0.7344
Epoch 61/100
3019/3019 [==============================] - 1s 476us/step - loss: 0.5493 - accuracy: 0.7338 - val_loss: 0.5410 - val_accuracy: 0.7366
Epoch 62/100
3019/3019 [==============================] - 1s 442us/step - loss: 0.5479 - accuracy: 0.7336 - val_loss: 0.5438 - val_accuracy: 0.7350
Epoch 63/100
3019/3019 [==============================] - 1s 445us/step - loss: 0.5478 - accuracy: 0.7335 - val_loss: 0.5423 - val_accuracy: 0.7360
Epoch 64/100
3019/3019 [==============================] - 1s 450us/step - loss: 0.5483 - accuracy: 0.7339 - val_loss: 0.5416 - val_accuracy: 0.7358
Epoch 65/100
3019/3019 [==============================] - 1s 431us/step - loss: 0.5479 - accuracy: 0.7343 - val_loss: 0.5443 - val_accuracy: 0.7335
Epoch 66/100
3019/3019 [==============================] - 1s 438us/step - loss: 0.5483 - accuracy: 0.7341 - val_loss: 0.5438 - val_accuracy: 0.7353
Epoch 67/100
3019/3019 [==============================] - 1s 447us/step - loss: 0.5482 - accuracy: 0.7336 - val_loss: 0.5439 - val_accuracy: 0.7326
Epoch 68/100
3019/3019 [==============================] - 1s 441us/step - loss: 0.5475 - accuracy: 0.7325 - val_loss: 0.5425 - val_accuracy: 0.7327
Epoch 69/100
3019/3019 [==============================] - 1s 441us/step - loss: 0.5484 - accuracy: 0.7329 - val_loss: 0.5440 - val_accuracy: 0.7353
Epoch 70/100
3019/3019 [==============================] - 1s 452us/step - loss: 0.5482 - accuracy: 0.7328 - val_loss: 0.5443 - val_accuracy: 0.7328
Epoch 71/100
3019/3019 [==============================] - 1s 433us/step - loss: 0.5470 - accuracy: 0.7337 - val_loss: 0.5441 - val_accuracy: 0.7355
Epoch 72/100
3019/3019 [==============================] - 1s 440us/step - loss: 0.5462 - accuracy: 0.7346 - val_loss: 0.5433 - val_accuracy: 0.7333
Epoch 73/100
3019/3019 [==============================] - 1s 435us/step - loss: 0.5477 - accuracy: 0.7335 - val_loss: 0.5430 - val_accuracy: 0.7342
Epoch 74/100
3019/3019 [==============================] - 1s 438us/step - loss: 0.5472 - accuracy: 0.7326 - val_loss: 0.5431 - val_accuracy: 0.7343
Epoch 75/100
3019/3019 [==============================] - 1s 474us/step - loss: 0.5467 - accuracy: 0.7332 - val_loss: 0.5414 - val_accuracy: 0.7346
Epoch 76/100
3019/3019 [==============================] - 1s 469us/step - loss: 0.5466 - accuracy: 0.7341 - val_loss: 0.5427 - val_accuracy: 0.7349
Epoch 77/100
3019/3019 [==============================] - 1s 446us/step - loss: 0.5480 - accuracy: 0.7343 - val_loss: 0.5427 - val_accuracy: 0.7343
Epoch 78/100
3019/3019 [==============================] - 1s 444us/step - loss: 0.5460 - accuracy: 0.7346 - val_loss: 0.5446 - val_accuracy: 0.7341
Epoch 79/100
3019/3019 [==============================] - 1s 445us/step - loss: 0.5479 - accuracy: 0.7334 - val_loss: 0.5420 - val_accuracy: 0.7349
Epoch 80/100
3019/3019 [==============================] - 1s 456us/step - loss: 0.5473 - accuracy: 0.7342 - val_loss: 0.5490 - val_accuracy: 0.7309
Epoch 81/100
3019/3019 [==============================] - 1s 451us/step - loss: 0.5475 - accuracy: 0.7332 - val_loss: 0.5433 - val_accuracy: 0.7339
Epoch 82/100
3019/3019 [==============================] - 1s 449us/step - loss: 0.5467 - accuracy: 0.7343 - val_loss: 0.5459 - val_accuracy: 0.7348
Epoch 83/100
3019/3019 [==============================] - 1s 441us/step - loss: 0.5474 - accuracy: 0.7329 - val_loss: 0.5428 - val_accuracy: 0.7338
Epoch 84/100
3019/3019 [==============================] - 1s 440us/step - loss: 0.5465 - accuracy: 0.7350 - val_loss: 0.5416 - val_accuracy: 0.7342
Epoch 85/100
3019/3019 [==============================] - 1s 440us/step - loss: 0.5471 - accuracy: 0.7317 - val_loss: 0.5414 - val_accuracy: 0.7360
Epoch 86/100
3019/3019 [==============================] - 1s 436us/step - loss: 0.5479 - accuracy: 0.7344 - val_loss: 0.5420 - val_accuracy: 0.7351
Epoch 87/100
3019/3019 [==============================] - 1s 453us/step - loss: 0.5477 - accuracy: 0.7347 - val_loss: 0.5426 - val_accuracy: 0.7352
Epoch 88/100
3019/3019 [==============================] - 1s 484us/step - loss: 0.5466 - accuracy: 0.7338 - val_loss: 0.5427 - val_accuracy: 0.7342
Epoch 89/100
3019/3019 [==============================] - 1s 441us/step - loss: 0.5470 - accuracy: 0.7336 - val_loss: 0.5441 - val_accuracy: 0.7335
Epoch 90/100
3019/3019 [==============================] - 1s 443us/step - loss: 0.5483 - accuracy: 0.7333 - val_loss: 0.5433 - val_accuracy: 0.7342
Epoch 91/100
3019/3019 [==============================] - 1s 439us/step - loss: 0.5468 - accuracy: 0.7343 - val_loss: 0.5424 - val_accuracy: 0.7354
Epoch 92/100
3019/3019 [==============================] - 1s 440us/step - loss: 0.5475 - accuracy: 0.7337 - val_loss: 0.5414 - val_accuracy: 0.7349
Epoch 93/100
3019/3019 [==============================] - 1s 441us/step - loss: 0.5471 - accuracy: 0.7337 - val_loss: 0.5436 - val_accuracy: 0.7354
Epoch 94/100
3019/3019 [==============================] - 1s 441us/step - loss: 0.5455 - accuracy: 0.7333 - val_loss: 0.5445 - val_accuracy: 0.7338
Epoch 95/100
3019/3019 [==============================] - 1s 442us/step - loss: 0.5467 - accuracy: 0.7362 - val_loss: 0.5463 - val_accuracy: 0.7331
Epoch 96/100
3019/3019 [==============================] - 1s 438us/step - loss: 0.5465 - accuracy: 0.7349 - val_loss: 0.5471 - val_accuracy: 0.7324
Epoch 97/100
3019/3019 [==============================] - 1s 437us/step - loss: 0.5464 - accuracy: 0.7341 - val_loss: 0.5453 - val_accuracy: 0.7343
Epoch 98/100
3019/3019 [==============================] - 1s 437us/step - loss: 0.5470 - accuracy: 0.7330 - val_loss: 0.5419 - val_accuracy: 0.7330
Epoch 99/100
3019/3019 [==============================] - 1s 440us/step - loss: 0.5464 - accuracy: 0.7336 - val_loss: 0.5438 - val_accuracy: 0.7338
Epoch 100/100
3019/3019 [==============================] - 1s 442us/step - loss: 0.5468 - accuracy: 0.7334 - val_loss: 0.5455 - val_accuracy: 0.7325
1510/1510 [==============================] - 0s 209us/step

In [89]:
# Training set results
ann_prediction = ann.predict(X_ann_train)
ann_prediction = (ann_prediction > 0.5)*1 # convert probabilities to binary output

# Compute error between predicted data and true response and display it in confusion matrix
acc_ann = round(metrics.accuracy_score(Y_ann_train, ann_prediction) * 100, 2)
print("Accureacy of ANN training set:", acc_ann)

1510/1510 [==============================] - 0s 254us/step
Accureacy of ANN training set: 73.63

In [90]:
# Predicting the Test set results
ann_prediction_test = ann.predict(X_ann_test)
ann_prediction_test = (ann_prediction_test > 0.5)*1 # convert probabilities to binary output

# Compute error between predicted data and true response and display it in confusion matrix
acc_test_ann = round(metrics.accuracy_score(Y_ann_test, ann_prediction_test) * 100, 5)
print("Accureacy of ANN validation set:",acc_test_ann)

647/647 [==============================] - 0s 268us/step
Accureacy of ANN validation set: 73.24604

In [59]:
print(ann.summary())

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 32)                416

 dense_1 (Dense)             (None, 64)                2112

 dropout (Dropout)           (None, 64)                0

 dense_2 (Dense)             (None, 64)                4160

 dropout_1 (Dropout)         (None, 64)                0

 dense_3 (Dense)             (None, 1)                 65

=================================================================
Total params: 6753 (26.38 KB)
Trainable params: 6753 (26.38 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________
None

In [77]:
# SVM
from sklearn.svm import SVC, LinearSVC
from sklearn import svm
#train, test, target, target_test = train_test_split(df_normalized, df_nomalized["cardio"], test_size=0.2, random_state=0)

X_svm = df_normalized.drop(columns = ["cardio"])
Y_svm = df_normalized["cardio"]
X_svm_train , X_svm_test , Y_svm_train , Y_svm_test = train_test_split(X_svm,Y_svm,test_size=0.3,random_state=0)

clf = svm.SVC(C = 2, kernel='rbf')
clf.fit(X_svm_train, Y_svm_train)
acc_svc = round(clf.score(X_svm_train, Y_svm_train) * 100, 5)
print("Accureacy of SVM training set:" ,acc_svc)

acc_test_svc = round(clf.score(X_svm_test, Y_svm_test) * 100, 5)
print("Accureacy of SVM validation set:" ,acc_test_svc)

Accureacy of SVM training set: 73.74764
Accureacy of SVM validation set: 73.6954

In [83]:
print(accuracy_metrics(svm_pre, svm_true_y))
print(accuracy_metrics(svm_true_y, svm_pre))

(0.7717027449230083, 0.7104141810124425, 0.28958581898755753, 0.22829725507699175)
(0.6705448904401784, 0.8029281448661144, 0.19707185513388556, 0.3294551095598216)